<div ng-include="'templates/header.html'"></div>
<div data-ng-init="getAllUserBookings()">
	<table id="bookingList" class="display responsive nowrap" cellspacing="0"  ng-if="bookingList.length > 0">
		<thead>
		<tr>
			<th>bookingId</th>
			<th>spaceId</th>
			<th>bookingStatus</th>
			<th>bookingType</th>
			<th>startDate</th>
			<th>endDate</th>
			<th>startTime</th>
			<th>endTime</th>
			<th>bookingTime</th>
			<th>paymentMode</th>
			<th>paymentStatus</th>
			<th>amountToBePaid</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="x in bookingList"
			ng-if="x.bookingStatus != 'PROCESSING'">
			<td><a href="#/booking-details?bookingId={{x.bookingId}}" class="colorgreen">{{ x.bookingId }}</a>
				</td>
			<td> {{ spaceIdNameData[x.spaceId] }}</td>
			<td>{{ x.bookingStatus }}</td>
			<td>{{ x.bookingType }}</td>
			<td>{{ x.startDate }}</td>
			<td>{{ x.endDate }}</td>
			<td>{{ x.startTime }}</td>
			<td>{{ x.endTime }}</td>
			<td>{{ x.bookingTime }}</td>
			<td>{{ x.paymentMode }}</td>
			<td>{{ x.paymentStatus }}</td>
			<td>{{ x.amountToBePaid }}</td>
		</tr>
		</tbody>
	</table>
	
	<table ng-if="bookingList == undefined || bookingList.length == 0">
		<tr>
			<th colspan="18">No booking found.</th>
		</tr>
	</table>
	
</div>