<div id="header" class="whiteBackgroundColor" data-ng-init="completeUserDetail()">
    <div class="innerBodyContainer relative">
        <div class="logoblock floatLeft">
            <a href="#/">
                <img class="logo" src="../images/logo.PNG" title="logo icon" alt="logo icon" />
            </a>
        </div>
        <div class="searchBlock floatLeft">
            <form class="navbar-form" role="search">
                <div class="input-group add-on noOutline">
                    <div class="input-group-btn noOutline">
                        <button class="btn btn-default noOutline searchIcon" type="submit"></button>
                    </div>
                    <input class="form-control noOutline" placeholder="Search" name="srch-term" id="srch-term" type="text">
                 </div>
            </form>
            <div class="mobileMenu hidden-lg tableBlock leftPad10">
                <img src="/images/menu.png" alt="men" />
            </div>
        </div>
        
        <div class="accountblock floatRight whiteBackgroundColor text-center hoverPointer">
            <div class="accountblock1 tableBlock">
                {{completeuserdetails.firstName && completeuserdetails.firstName.charAt(0)}}{{completeuserdetails.lastName && completeuserdetails.lastName.charAt(0)}}
            </div>
            <div class="accountblock2 tableBlock leftPad10">
                <p class="subText noMarBot lightGray">Your account <span class="triangle glyphicon glyphicon-triangle-bottom lightGray"></span></p>
            </div>
            
        </div>
        <div class="locationBlock floatRight whiteBackgroundColor text-center hoverPointer relative">
            <div class="locationInput">
                <p class=""><span class="loc">Bangalore</span> <span class="triangle glyphicon glyphicon-triangle-bottom lightGray"></span></p>
            </div>
            <ul class="locationOption absolute">
                <li>Location</li>
                <li>Kolkata</li>
                <li>Delhi</li>
                <li>Bangalore</li>
            </ul>
        </div>
        <div class="clear"></div>
        <div class="dropDownAccount dropDownAccountLogin whiteBackgroundColor absolute">
           <div class="dropDownAccountBlock2 floatRight" ng-class="{'hidden': completeuserdetails == undefined || completeuserdetails == ''}">
                <div class="imageBlockLogin">
                    <img src="images/blank_img.PNG" alt="profilr picture" title="profilr picture" />
                </div>
                <div class="nameBlockLogin">
                    <p class="">Welcome</p>
                    <p class="samllText bodyColor marBot5">{{completeuserdetails.firstName}} {{completeuserdetails.lastName}}</p>
                    <p class="fontText8 bodyColor marBot5">{{completeuserdetails.age}}, {{completeuserdetails.gender}}, {{completeuserdetails.location}}</p>
                    <p class="fontText8 bodyColor marBot5">{{completeuserdetails.company}}</p>
                </div>
                <div class="bottonBlockLogin padTop15">
                    <a href="#/profile" class="yellowDropMenu fontText12 colorWhite text-center block">Edit Profile</a>
                    <a href="" ng-click="logout()" class="whiteDropMenu fontText12 bodyColor text-center block whiteBackgroundColor">Log out</a>
                </div>
            </div>
            <div class="dropDownAccountBlock2 floatRight" ng-class="{'hidden': completeuserdetails != undefined && completeuserdetails != ''}">
                <div class="imageBlockLogin">
                    <img src="images/blank_img.PNG" alt="profilr picture" title="profilr picture" />
                </div>
                <div class="bottonBlockLogin padTop15">
                		<a href="#/welcome" class="whiteDropMenu fontText12 bodyColor text-center block whiteBackgroundColor">SignUp</a>
                    <a href="" ng-click="logout()" class="whiteDropMenu fontText12 bodyColor text-center block whiteBackgroundColor">LogIn</a>
                </div>
            </div>
            <div class="dropDownAccountBlock1 floatLeft">
                <div class="loginBlock1 relative" ng-class="{'hidden': completeuserdetails == undefined}">
                    
                </div>
                <p class="samllText whiteBackgroundColor headerLabel absolute noMarBot">My Dashboard</p>
                <div class="loginBlock2 relative padTop10">
                		<a href="#/" class="menuLinks block homeIcon">Home</a>
                    <a href="#/wallet-info" class="menuLinks block rsIcon" ng-class="{'hidden': completeuserdetails == undefined || completeuserdetails == ''}">Credits</a>
                    <a href="#/booking-list" class="menuLinks block replayIcon" ng-class="{'hidden': completeuserdetails == undefined || completeuserdetails == ''}">Booking History</a>
                    <a href="#/package-list" class="menuLinks block replayIcon" ng-class="{'hidden': completeuserdetails == undefined || completeuserdetails == ''}">Package History</a>
                    <a href="#/invite" class="menuLinks block inviteIcon" ng-class="{'hidden': completeuserdetails == undefined || completeuserdetails == ''}">Invite &amp; Earn</a>
                    <a href="#/change-password" class="menuLinks block inviteIcon" ng-class="{'hidden': completeuserdetails == undefined || completeuserdetails == ''}">Change Password</a>
                    <a href="#/reset-password" class="menuLinks block inviteIcon">Reset Password</a>
                    
                </div>
                <p class="samllText whiteBackgroundColor headerLabel absolute noMarBot">Work together</p>
                <div class="loginBlock3 relative">
                    <a href="#/faq" class="menuLinks block partnerIcon">Become a partner</a>
                    <a class="menuLinks block numberIcon">+91 988 888 8888</a>
                </div>
                 <p class="samllText whiteBackgroundColor headerLabel absolute noMarBot">Social</p>
                <div class="loginBlock4">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-youtube"></a>
                </div>
            </div>
            
            <div class="clear"></div>
        </div>
    </div>
</div>


<script>
(function($) {
    $(document).ready(function() {
        /* header location selecter */
        $(".locationBlock").click(function() {
            if($(this).hasClass("opened")) {
                $(".locationOption").hide();
                $(this).removeClass("opened");
            } else {
                $(".locationOption").show(500);
                $(this).addClass("opened");
            }
        });
        $(".locationOption li").click(function(event) {
            event.stopPropagation();
            event.preventDefault();
            $(".loc").text($(this).text());
            $(".locationOption").slideUp(500);
            $(".locationOption").removeClass("opened");
        });
        
        
        
        /* header Menu selecter */
        $(".accountblock").click(function() {
            if($(this).hasClass("opened")) {
                $(".dropDownAccount").hide();
                $(this).removeClass("opened");
            } else {
                $(".dropDownAccount").show();
                $(this).addClass("opened");
            }
        });
    });
})(jQuery);
</script>