<div ng-include="'templates/header.html'"></div>
<div data-ng-init="getPackageDetails()">
	<table id="packageBookingList" class="display responsive nowrap"
		cellspacing="0" ng-if="packageBookingList.length > 0"
		ng-repeat="x in packageBookingList">
		<thead>
			<tr>
				<th>bookingId</th>
				<td><span ng-if='x.packageName.length > 0'> <a href=""
						data-toggle="modal" data-target="#myModal"
						ng-click="packageDetails(x.bookingId)" class="colorgreen"> <u>{{
								x.bookingId }}</a>
				</span></td>
			</tr>
			<tr>
				<th>spaceId</th>
				<td>{{ spaceIdNameData[x.spaceId] }}</td>
			</tr>

			<tr>
				<th>bookingStatus</th>
				<td>{{ x.bookingStatus }}</td>
			</tr>

			<tr>
				<th>bookingType</th>
				<td>{{ x.bookingType }}</td>

			</tr>

			<tr>
				<th>PackageName</th>
				<td>{{ x.packageName}}</td>

			</tr>

			<tr>
				<th>startDate</th>
				<td>{{ x.startDate }}</td>


			</tr>

			<tr>
				<th>endDate</th>
				<td>{{ x.endDate }}</td>

			</tr>


			<tr>
				<th>bookingTime</th>
				<td>{{ x.bookingTime }}</td>

			</tr>

			<tr>
				<th>paymentMode</th>
				<td>{{ x.paymentMode }}</td>

			</tr>

			<tr>
				<th>paymentStatus</th>
				<td>{{ x.paymentStatus }}</td>

			</tr>

			<tr>
				<th>amountToBePaid</th>
				<td>{{ x.amountToBePaid }}</td>

			</tr>

			<tr>
				<th>discount</th>
				<td>{{ x.discount }}</td>

			</tr>

			<tr>
				<th>promoCode</th>
				<td>{{ x.promoCode }}</td>

			</tr>

			<tr>
				<th>totalAmount</th>
				<td>{{ x.totalAmount }}</td>
			</tr>
			<tr ng-if="x.cancelable">
				<td colspan="2"><a href=""
					ng-click="cancelUserBooking(x.bookingId,x.bookingType,x.packageName)"
					class="inline-block greenLink fontText12 fullWidth hoverPointer marBot30">Cancel</a>
				</td>
			</tr>
		</tbody>
	</table>

	<table
		ng-if="packageBookingList == undefined || packageBookingList.length == 0">
		<tr>
			<th colspan="18">No booking found.</th>
		</tr>
	</table>

	<div>
		<a id="bookingListBtn" ng-click="reloadBookingPage()"></a>
	</div>
</div>

<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Information</h4>
			</div>
			<div ng-if="packageInfo != undefined">
				<table>
					<tr>
						<th>Package Name</th>
						<td>{{ packageInfo.packageName }}</td>
					</tr>
					<tr>
						<th>Total Minutes</th>
						<td>{{ packageInfo.totalMinutes }}</td>
					</tr>
					<tr>

						<th>Available Minutes</th>
						<td>{{ packageInfo.availbaleMinutes}}</td>
					</tr>
				</table>
			</div>
			<div ng-if="packageInfo == undefined">
				<table>
					<tr>
						<th>Package Name</th>
						<td></td>
					</tr>
					<tr>
						<th>Total Minutes</th>
						<td></td>
					</tr>
					<tr>
						<th>Available Minutes</th>
						<td></td>
					</tr>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>