<div ng-include="'templates/header.html'"></div>
<div class="innerBodyContainer">
    <a href="#/" class="relative floatRight">
        <img class="exitButton hoverPointer" src="../images/exit.png" alt="close" title="close" />
    </a>
    <div class="clear"></div>
    
    <div class="loginBox">
        <h1 class="titleSignUp lato-bold marTop60">Set up a new password</h1>
        <div class="marTop40 marBot30">
            <p class="countryCode inline relative">+91</p>
            <input type="text" class="loginInput phNoField inline marLeft30" id="phoneNumber" ng-model="phNumber" placeholder="XXXX-XXX-XXX"/>
        </div>
        
        <a class="inline-block yellowLink fullWidth hoverPointer marBot30" ng-click="resetPasswordOTP()" href="">OTP</a>
        
        <div class="relative marTop30 marBot40">
            <input type="text" class="fullWidth loginInput otpField" placeholder="OTP" ng-model="otp"  />
        </div>
        <p>Enter a password of 6 or more characters</p>
        <div class="relative marTop30">
            <input type="password" class="fullWidth loginInput passwordField" placeholder="NewPassword" ng-model="password" />
            <a class="absolute passwordShow lightGray hoverPointer">Show</a>
        </div>
        <div class="relative marTop30 marBot40">
            <input type="password" class="fullWidth loginInput passwordField" placeholder="ConfirmNewPassword" ng-model="confirmPassword" />
            <a class="absolute passwordShow lightGray hoverPointer">Show</a>
        </div>
        
        <a class="inline-block yellowLink fullWidth hoverPointer marBot60" href="" ng-click="resetPassword()">Reset Password</a>
    </div>
    
    <a class="inline-block blueLink fullWidth text-center hoverPointer marTop60 marBot60 colorLightBlue noUnderline" href="">Encryption and safety information</a>
</div>	
<script type="text/javascript" src="js/lib/page-functionality.js"></script>