<div ng-include="'templates/header.html'"></div>
<div class="innerBodyContainer" ng-init=init()>
    <a href="#/" class="relative floatRight">
        <img class="exitButton hoverPointer" src="../images/exit.png" alt="close" title="close" />
    </a>
    <div class="clear"></div>
    <div class="loginBox">
        <h1 class="bold marTop60">Welcome!</h1>
        <p class="">Please enter your phone number to get started</p>
        <div class="marTop40 marBot30">
            <p class="countryCode inline relative">+91</p>
            <input type="text" class="loginInput phNoField inline marLeft30" id="phoneNumber" ng-model="phNumber" placeholder="XXXX-XXX-XXX" required/>
        </div>
        <a class="inline-block yellowLink fullWidth hoverPointer marBot20" href= "" ng-click="sendOTP()">Request OTP.</a>
        
        <p class="">Please enter your OTP to proceed</p>
        <div class="relative marTop30 marBot40">
            <input type="text" class="fullWidth loginInput otpField" placeholder="OTP" ng-model="otp"/>
        </div>
        <a class="inline-block yellowLink fullWidth hoverPointer marBot40" href="" ng-click="verifyOTP()">Next</a>
    </div>

    <div class="fullWidth marTop60 marBot60">
        <div class="col3 floatLeft marBot30">
            <img class="subImage1 centerPosition" src="../images/fair_pricing.png" alt="Fair Pricing" title="Fair Pricing"/>
            <h4 class="subTitle text-center padTop10">Fair Pricing</h4>
            <p class="subText width80 text-center centerPosition lightGray padTop10">Pay only for the time you spend at the space. <br class="justDesktop" />Not a minute extra.</p>
        </div>
        <div class="col3 floatLeft marBot30">
            <img class="subImage2 centerPosition" src="../images/exp_first_pay_later.png" alt="Experience first, pay later" title="Experience first, pay later"/>
            <h4 class="subTitle text-center padTop10">Experience first, pay later</h4>
            <p class="subText width80 text-center centerPosition lightGray padTop10">No commitments. No hassles. <br class="justDesktop" />Pay only at the end of the experience.</p>
        </div>
        <div class="col3 floatLeft marBot30">
            <img class="subImage1 centerPosition" src="../images/lotalty_pays.png" alt="Loyalty pays" title="Loyalty pays"/>
            <h4 class="subTitle text-center padTop10">Loyalty pays</h4>
            <p class="subText width80 text-center centerPosition lightGray padTop10">Get access to exclusive discounts for continuous access to spaces.</p>
        </div>
        <div class="clear"></div>
    </div>
</div>

<script type="text/javascript" src="js/lib/page-functionality.js"></script>
